
.Botao{
    background-color: #00875f;
    border-radius: 5px;
    border: none;
    padding: 14px;
    color: white;
    cursor: pointer;
    display: flex;
    margin-left: 5px;
    margin-bottom: 10px;
}

